@charset "utf-8";
/* 프리텐다드 */
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("fonts/Pretendard-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("fonts/woff2/Pretendard-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("fonts/woff2/Pretendard-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("fonts/woff2/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("fonts/woff2/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("fonts/woff2/Pretendard-Light.woff2") format("woff2");
}

/* 쥐마켓 */
@font-face {
  font-family: "GmarketSans";
  src: url("fonts/GmarketSansBold.woff2") format("woff2"),
    url("fonts/GmarketSansBold.woff") format("woff");
}
/* @font-face {
  font-family: "GmarketSans";
  src: url("fonts/GmarketSansLight.woff2") format("woff2"),
    url("fonts/GmarketSansLight.woff") format("woff");
}
@font-face {
  font-family: "GmarketSans";
  src: url("fonts/GmarketSansMedium.woff2") format("woff2"),
    url("fonts/GmarketSansMedium.woff") format("woff");
} */

/* 강원교육새음 */

@font-face {
  font-family: "Gangwon";
  src: url("fonts/Gangwon.woff2") format("woff2"),
    url("fonts/Gangwon.woff") format("woff");
}
